---
const data = Astro.props
---

<article>
  <data.icon />
  <h2>{data?.title}</h2>
  <p>{data?.text}</p>
  <button class='btn btn-default'>Learn more</button>
</article>
<style>
  article {
    background: var(--bg-color-primary);
    display: flex;
    padding: 30px;
    row-gap: 10px;
    flex-direction: column;
    align-items: center;
    border-radius: 0.3em;
  }
  h2 {
    font-size: medium;
    font-weight: 600;
    margin-top: 5px;
  }
  p {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    text-wrap: pretty;
    color: var(--text-color-tertiary);
  }
  button {
    border-color: var(--text-color-secondary);
    border-radius: 0%;
    padding-inline: 20px;
  }
  @media screen and (max-width: 600px) {
    article {
      padding: 20px;
    }
    h2 {
      font-size: small;
      text-align: center;
      text-wrap: wrap;
    }
    p {
      font-size: small;
      text-wrap: pretty;
    }
    button {
      font-size: small;
    }
  }
</style>
