<div>
  <svg
    xmlns='http://www.w3.org/2000/svg'
    width='30'
    height='30'
    viewBox='0 0 24 24'
  >
    <slot />
  </svg>
</div>
<style>
  div {
    background: var(--bg-color-secondary);
    border-radius: 50%;
    padding: 10px;
  }
  svg {
    color: var(--text-color-primary);
  }
</style>
