---
import Clients from '@/components/Clients.astro'
import Layout from '../layouts/Layout.astro'
import Hero from '@/components/Hero.astro'
import Services from '@/components/Services.astro'
import Footer from '@/components/Footer.astro'
import Technology from '@/components/Technology.astro'
---

<Layout title='DOMO'>
  <main>
    <Hero />
    <Services />
    <Technology />
    <Clients />
  </main>
  <Footer />
</Layout>
