---
import ClientsCardOne from './ClientsCardOne.astro'
import ClientsCardTwo from './ClientsCardTwo.astro'
---

<div>
  <ClientsCardOne />
  <ClientsCardTwo />
</div>
<style>
  div {
    z-index: 10;
    width: 100%;
    display: flex;
    column-gap: 20px;
  }
</style>
