---
import { SITEMAP } from '@/constants/sitemap-data'
---

<ul>
  <h3>Sitemap</h3>
  <nav>
    {SITEMAP.map(({ name }) => <a>{name}</a>)}
  </nav>
</ul>
<style>
  ul {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  h3 {
    color: var(--text-color-primary);
    text-transform: uppercase;
    font-size: 15px;
  }
  nav {
    display: flex;
    flex-direction: column;
  }
</style>
