<section>
  <h1>We build beatifull and reliable web solutions</h1>
  <p>
    We strongly believe that communication, trust and transparency are the
    essential elements of successful business relationship. Ready for the
    journey?
  </p>
  <article class=''>
    <button class='btn btn-default'>Learn more</button>
    <button class='btn btn-primary'>Our Projects</button>
  </article>
</section>
<style>
  section {
    height: 100dvh;
    padding-inline: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
  }
  h1 {
    color: var(--text-color-primary);
    font-weight: 700;
    max-width: 50%;
  }
  p {
    color: var(--text-color-secondary);
    font-weight: 500;
    max-width: 55%;
    text-wrap: pretty;
  }
  article {
    max-width: 50%;
    padding: 5px;
    display: flex;
    column-gap: 30px;
  }
  article > button:first-child {
    color: var(--text-color-secondary);
  }
  button {
    border-radius: 0px;
    padding-inline: 30px;
  }
</style>
