---
import { FOOTER_ICONS } from '@/constants/footer-icons.ts'
import animation from '@/animations/hover-scale.module.css'
---

<article>
  <h2>compleet labs</h2>
  <p>
    Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
    fermentum massa justo sit risus. Donec unllamcoper nulla.
  </p>
  <nav>
    {
      FOOTER_ICONS.map((item) => (
        <span class={animation.hoverScale}>
          <item.icon />
        </span>
      ))
    }
  </nav>
</article>
<style>
  article {
    min-height: 30dvh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  h2 {
    color: var(--text-color-primary);
    font-size: 16px;
    font-weight: 600;
  }
  p {
    color: var(--text-color-secondary);
    max-width: 75%;
    text-wrap: pretty;
    font-weight: 500;
    font-size: 14px;
  }
  nav {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 20px;
    color: var(--text-color-secondary);
  }
  @media screen and (max-width: 992px) {
    article {
      width: 100%;
      justify-content: start;
      row-gap: 20px;
    }
    p {
      max-width: 90%;
    }
  }
</style>
