---
import { CASE_STUDIES } from '@/constants/case-studies-data'
import animation from '@/animations/hover-scale.module.css'
---

<div class='nav-container'>
  <h3 class="nav-title">Case Studies</h3>
  <nav class='nav'>
    {CASE_STUDIES.map(({ name }) => <span class={animation.hoverScale}>{name}</span>)}
  </nav>
</div>
