---
import { FOOTER_ICONS } from '@/constants/footer-icons.ts'
---

<article>
  <h2>compleet labs</h2>
  <p>
    Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
    fermentum massa justo sit risus. Donec unllamcoper nulla.
  </p>
  <nav>
    {
      FOOTER_ICONS.map((item) => (
        <a>
          <item.icon />
        </a>
      ))
    }
  </nav>
</article>
<style>
  article {
    width: 50%;
    min-height: 30dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  h2 {
    color: var(--text-color-primary);
    font-size: 16px;
    font-weight: 600;
  }
  p {
    color: var(--text-color-secondary);
    max-width: 75%;
    text-wrap: pretty;
    font-weight: 500;
    font-size: 14px;
  }
  nav {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 20px;
    color: var(--text-color-secondary);
  }
</style>
